<!-- TEMPLATE PAGE FOR MIDDLE PAGES -->

<div class="content-col clearfix">

    <!-- IMAGE FRAME DOESN'T CHANGE EXCEPT FOR BACKGROUND IMG -->
    <div class="frame-container clearfix">
        <div class="image-frame">
            <div class="stats-bar clearfix">
                <div class="stat-35">
                    Capt Log<br>
                    OT-00<span class="idSpan">{{items.captain_id}}</span>
                </div>
                <div class="stat-20 prof">
                    <img height="13px" src="/images/prof_icon.svg">
                    <span>{{items.proficiency_points}}</span>
                    <div class="stat-text hide-prof">Proficiency</div>
                </div>
                <div class="stat-20 scrap">
                    <img height="12px" src="/images/scrap_icon.svg">
                    <span>{{items.scrap_amount}}</span>
                    <div class="stat-text hide-scrap">Scrap</div>
                </div>
                <div class="stat-20 crew">
                    <img height="12px" src="/images/crew_icon.svg">
                    <span>{{items.crew_hp}}</span>
                    <div class="stat-text hide-crew">Crew</div>
                </div>
            </div>

            <div class="image-box" style="background-image: url('../images/storyimg/3_2.png');"></div>
        </div>
    </div>

    <div class="frame-container clearfix">
        <div class="text-frame">
            <div class="text-title">
                Let's go back...
            </div>
            <div class="text-divide"></div>
            <div class="text-body">
                <div class="results-container clearfix">
                    <div class="results-box"><img height="19px" src="/images/crew_icon.svg"><span class="results-span">{{newStats.newCrew}}</span></div>
                    <div class="results-box"><img height="19px" src="/images/scrap_icon.svg"><span class="results-span">{{newStats.newScrap}}</span></div>
                    <div class="results-box"><img height="19px" src="/images/prof_icon.svg"><span class="results-span">{{newStats.newProf}}</span></div>
                </div>
                What a waste of time.
            </div>
            <div class="text-divide"></div>

            <!-- OKAY BUTTON TO JUST CHANGE THE PAGE -->
            <div data-scrap="0" data-crew="0" data-prof="0" data-chap="3" data-page="2" class="option-buttons">
                Back to the <span style="color: red;">{{items.ship_name}}</span>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/choice_buttons.js"></script>