<!-- TEMPLATE PAGE -->

<div class="content-col clearfix">

    <!-- IMAGE FRAME DOESN'T CHANGE EXCEPT FOR BACKGROUND IMG -->
    <div class="frame-container clearfix">
        <div class="image-frame">
            <div class="stats-bar clearfix">
                <div class="stat-35">
                    Capt Log<br>
                    OT-00<span class="idSpan">{{items.captain_id}}</span>
                </div>
                <div class="stat-20 prof">
                    <img height="13px" src="/images/prof_icon.svg">
                    <span>{{items.proficiency_points}}</span>
                    <div class="stat-text hide-prof">Proficiency</div>
                </div>
                <div class="stat-20 scrap">
                    <img height="12px" src="/images/scrap_icon.svg">
                    <span>{{items.scrap_amount}}</span>
                    <div class="stat-text hide-scrap">Scrap</div>
                </div>
                <div class="stat-20 crew">
                    <img height="12px" src="/images/crew_icon.svg">
                    <span>{{items.crew_hp}}</span>
                    <div class="stat-text hide-crew">Crew</div>
                </div>
            </div>

            <div class="image-box" style="background-image: url('../images/<!-- IMG FILE -->');"></div>
        </div>
    </div>

    <div class="frame-container clearfix">
        <div class="text-frame">
            <div class="text-title">
                Calibration Complete!
            </div>
            <div class="text-divide"></div>
            <div class="text-body">
                You crew has finally been able to repair the damaged navigation sensors with findings from your exploration. Astrometrics believes the route home is finally clear - you can finally take the <span style="color: red;">{{items.ship_name}}</span> home.
            </div>
            <div class="text-divide"></div>

            <!-- CHANGE DATA-ATTRIBUTES FOR EACH CHOICE // CHANGE DATA-CHAP/DATA-PAGE TO THE NEXT PAGE (SAME FOR EACH BUTTON) -->
            <div data-scrap="0" data-crew="0" data-prof="0" data-chap="end" data-page="end" class="option-buttons">
                Okay, let's go!
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/choice_buttons.js"></script>