<!-- TEMPLATE PAGE -->

<div class="content-col clearfix">

    <!-- IMAGE FRAME DOESN'T CHANGE EXCEPT FOR BACKGROUND IMG -->
    <div class="frame-container clearfix">
        <div class="image-frame">
            <div class="stats-bar clearfix">
                <div class="stat-35">
                    Capt Log<br>
                    OT-00<span class="idSpan">{{items.captain_id}}</span>
                </div>
                <div class="stat-20 prof">
                    <img height="13px" src="/images/prof_icon.svg">
                    <span>{{items.proficiency_points}}</span>
                    <div class="stat-text hide-prof">Proficiency</div>
                </div>
                <div class="stat-20 scrap">
                    <img height="12px" src="/images/scrap_icon.svg">
                    <span>{{items.scrap_amount}}</span>
                    <div class="stat-text hide-scrap">Scrap</div>
                </div>
                <div class="stat-20 crew">
                    <img height="12px" src="/images/crew_icon.svg">
                    <span>{{items.crew_hp}}</span>
                    <div class="stat-text hide-crew">Crew</div>
                </div>
            </div>

            <div class="image-box" style="background-image: url('../images/<!-- IMG FILE -->');"></div>
        </div>
    </div>

    <div class="frame-container clearfix">
        <div class="text-frame">
            <div class="text-title">
                Through the Wormhole
            </div>
            <div class="text-divide"></div>
            <div class="text-body">
                You find yourself stranded in the unknown void of space. Your science officer takes some readings and informs you the ship has been pulled though a wormhole. Despite the plummet, you find yourself and the <span style="color: red;">{{items.ship_name}}</span> relatively in tact. It will take some time to recalibrate the damaged navigation sensors to find your way back home to Orion. Astrometrics advises that investigating the nearby nebula will help with the recalibration.
                <br />
                <br />
                "Captain <span style="color: red;">{{items.captain_name}}</span>, our shields aren't working and our engines have taken on light damage. Should we take the time to repair, or should we push through?"
            </div>
            <div class="text-divide"></div>

            <!-- CHANGE DATA-ATTRIBUTES FOR EACH CHOICE // CHANGE DATA-CHAP/DATA-PAGE TO THE NEXT PAGE (SAME FOR EACH BUTTON) -->
            <div data-scrap="0" data-crew="0" data-prof="0" data-chap="1" data-page="1" class="option-buttons">
                Repair the <span style="color: red;">{{items.ship_name}}</span>
            </div>
            <div data-scrap="0" data-crew="-2" data-prof="-2" data-chap="1" data-page="0a" class="option-buttons">
                We're fine - push through!
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/choice_buttons.js"></script>